<html>

<body>
    <h3>join us Picky pigs.</h3>
    Name: <%= obj.name%><br/>
    Email: <%= obj.email%><br/>
    Message: <%= obj.message%><br/>
    Phone Number: <%= obj.phoneNumber%><br/>
    Company: <%= obj.company%>
</body>

</html>