<html>

<body>
    <h3>join us Picky pigs.</h3>
    Name: <%= obj.name%>
    Email: <%= obj.email%>
    Message: <%= obj.message%>
    Phone Number: <%= obj.phoneNumber%>
    Company: <%= obj.company%>
</body>

</html>