<html>

<body>
    <div>
        <p style="font-family: sans-serif;">Hi Sasha</p>
    </div>
    <div>
        <p style="font-family: sans-serif;">
            One of the User plannig to join the Picky Pigs community! Join us people details:
        </p>
        <p style="font-family: sans-serif;">
            Name: <%= obj.name%>
        </p>
        <p style="font-family: sans-serif;">
            Email: <%= obj.email%>
        </p>
        <p style="font-family: sans-serif;">
            Message: <%= obj.message%>
        </p>
        <p style="font-family: sans-serif;">
            Phone Number: <%= obj.phoneNumber%>
        </p>
        <p style="font-family: sans-serif;">
            Company: <%= obj.company%>
        </p>
    </div>
    <div>
        <p style="font-family: sans-serif;">Thanks very much,</p>
    </div>
    <div>
        <p>
            <span style="color: #cb007b; font-size: 1.25rem; font-family: Brandon Text !important; font-weight: bold; ">
                Picky Pigs
            </span>
            <img style="vertical-align: middle;"
                src="http://pickypigs.charlieandco.co.nz/static/media/logo.0b33457f.svg">
        </p>
    </div>
</body>

</html>